<header class='collection-ui'><main class='collection-ui'>
  <h1>{{collection.name}}</h1>
  
  {{#if collection.canSetAbout}}
    <a id='edit' class='btn white-border' style='float:right'>edit collection info</a>
  {{/if}}
  
  {{{by collection.owners}}}
  <br>
  <small>Created {{{timeago collection.when}}}</small>

  <br style='clear:both' />
  <div {{#if collection.canSetAbout}}contenteditable{{/if}} class='bio markdown-about-edit'>
    {{{md collection.about}}}
  </div>
  <small></small>

  <script>var bio_raw = '{{json collection.about}}'; var csrfToken = '{{json csrfToken}}';</script>
</main>
<ul class='collection-ui controls'>
  <li class='select-all'><button class='material-icons'><input type='checkbox' />arrow_drop_down</button>
    <ul class='dropdown'>
      <li>all</li>
      <li>none</li>
      <li>invert</li>
    </ul>
  </li>
  <li><button class="material-icons">add_box</button> <div class='tooltip'>Add items</div></li>
  <li><button class="material-icons" disabled>delete</button> <div class='tooltip'>Remove selected</div></li>
  <li><button class="material-icons">search</button> <div class='tooltip'>Find items</div></li>
  <li class='display-switch'><button class="material-icons">view_list</button> <div class='tooltip'>Switch view</div></li>
  <li><button class="material-icons">settings</button> <div class='tooltip'>Collection settings</div></li>
</ul>
</header>

<main class='collection-ui resource-container display-tiles'>
  <ul class='collection-ui header'>
    <li>Name</li>
    <li>By</li>
    <li>Type</li>
    <li>When</li>
  </ul>

  <div class='resources'>
    {{#each resources}}
      {{> resource this}}
    {{/each}}
  </div>
</main>