<header class='collection-ui'><main class='collection-ui'>
  <h1>{{collection.name}}</h1>
  
  {{#if collection.canSetAbout}}
    <a id='edit' class='btn white-border' style='float:right'>edit collection info</a>
  {{/if}}
  
  {{{by collection.owners}}}
  <br>
  <small>Created {{{timeago collection.when}}}</small>

  <br style='clear:both' />
  <div {{#if collection.canSetAbout}}contenteditable{{/if}} class='bio markdown-about-edit'>
    {{{md collection.about}}}
  </div>
  <small></small>

  <script>var bio_raw = '{{json collection.about}}'; var csrfToken = '{{json csrfToken}}';</script>
</main>
<ul class='collection-ui controls'>
  <li class='select-all'><button class='material-icons'><input type='checkbox' />arrow_drop_down</button>
    <ul class='dropdown'>
      <li class='all'>all</li>
      <li class='none'>none</li>
      <li class='invert'>invert</li>
    </ul>
  </li>
  {{#if collection.canAddItems}}
  <li><button class="material-icons add-btn">add_box</button> <div class='tooltip'>Add items</div></li>
  {{/if}}
  {{#if collection.canRemoveItems}}
  <li><button class="material-icons remove-btn" disabled>delete</button> <div class='tooltip'>Remove selected</div></li>
  {{/if}}
  <li><button class="material-icons">search</button> <div class='tooltip'>Find items</div></li>
  <li><button class="material-icons display-switch">view_list</button> <div class='tooltip'>Switch view</div></li>
  {{#if collection.youOwn}}
  <li><button class="material-icons settings-btn">settings</button> <div class='tooltip'>Collection settings</div></li>
  {{/if}}
  
  <li><button class="material-icons dl-btn">file_download</button> <div class='tooltip'>Download collection</div></li>
</ul>
<div class='add-by-url'>
  <label for='url-add-input'>Add by URL:</label>
  <input type='url' placeholder='http://opensprites.org/something' id='url-add-input' />
  <button type='button' class='btn white-border submit'>Add</button>
</div>
</header>

<main class='collection-ui resource-container display-tiles'>
  <ul class='collection-ui header'>
    <li></li>
    <li>Name</li>
    <li>By</li>
    <li>Type</li>
    <li>When</li>
  </ul>

  <div class='resources'>
    {{> collection_items this}}
  </div>
</main>

<div class='collection-ui collection-dialog-container dialog-alert' id='collection-alert'>
  <div class='collection-ui collection-dialog'>
    <div class='collection-ui collection-dialog-content'>
      <p class='alert-content'></p>
    </div>
    <div class='collection-ui collection-dialog-buttons'>
      <button class='btn'>ok</button>
    </div>
  </div>
</div>

<div class='collection-ui collection-dialog-container dialog-settings' id='collection-settings'>
  <div class='collection-ui collection-dialog'>
    <div class='collection-ui collection-dialog-content'>
    <h2>Collection settings</h2>
    <div class='permissions-editor'>
      <h3>Allowed actions</h3>
      <table class='permissions-table'>
        <tr>
          <th></th>
          <th>Everyone</th>
          <th>Curators and Owners</th>
          <th>Owners only</th>
        </tr>
        <tr class='permission' data-permission='setAbout'>
          <td class='field'>Change description</td>
          <td><input class='permission-input' type='radio' name='setAbout' value='everyone' /></td>
          <td><input class='permission-input' type='radio' name='setAbout' value='curators' /></td>
          <td><input class='permission-input' type='radio' name='setAbout' value='owners' /></td>
        </tr>
        <tr class='permission' data-permission='setTitle'>
          <td class='field'>Change collection name</td>
          <td><input class='permission-input' type='radio' name='setTitle' value='everyone' /></td>
          <td><input class='permission-input' type='radio' name='setTitle' value='curators' /></td>
          <td><input class='permission-input' type='radio' name='setTitle' value='owners' /></td>
        </tr>
        <tr class='permission' data-permission='addItems'>
          <td class='field'>Add items</td>
          <td><input class='permission-input' type='radio' name='addItems' value='everyone' /></td>
          <td><input class='permission-input' type='radio' name='addItems' value='curators' /></td>
          <td><input class='permission-input' type='radio' name='addItems' value='owners' /></td>
        </tr>
        <tr class='permission' data-permission='removeItems'>
          <td class='field'>Remove items</td>
          <td><input class='permission-input' type='radio' name='removeItems' value='everyone' /></td>
          <td><input class='permission-input' type='radio' name='removeItems' value='curators' /></td>
          <td><input class='permission-input' type='radio' name='removeItems' value='owners' /></td>
        </tr>
        <tr class='permission' data-permission='addCurators'>
          <td class='field'>Add curators</td>
          <td></td>
          <td><input class='permission-input' type='radio' name='addCurators' value='curators' /></td>
          <td><input class='permission-input' type='radio' name='addCurators' value='owners' /></td>
        </tr>
      </table>
      <button class='permissions-save btn'>Save</button>
      <small class='permissions-status'></small>
    </div>
    <hr />
    <div class='danger-zone'>
      <h3 class='danger'>Danger zone</h3>
      <button class='btn danger'>Delete collection</button>
    </div>
    </div>
    <div class='collection-ui collection-dialog-buttons'>
      <a href='#_' class='btn'>done</a>
    </div>
  </div>
</div>


<div class='collection-ui collection-dialog-container dialog-remove' id='collection-remove'>
  <div class='collection-ui collection-dialog'>
    <div class='collection-ui collection-dialog-content'>
      <h2>Are you sure?</h2>
      <p>You are about to remove the following from this collection:</p>
      <ul class='collection-remove-list'>
        
      </ul>
    </div>
    <div class='collection-ui collection-dialog-buttons'>
      <small class='status'></small>
      <button class='btn flat'>cancel</button>
      <button class='btn confirm'>confirm</button>
    </div>
  </div>
</div>

<div class='collection-ui collection-dialog-container dialog-download' id='collection-download'>
  <div class='collection-ui collection-dialog'>
    <div class='collection-ui collection-dialog-content'>
      <h2>Download this collection</h2>
      <p>Options:</p>
      <hr />
      <p>Which items?</p>
      <label><input type='radio' name='dl-which' value='all' /> All items</label></br>
      <label><input type='radio' name='dl-which' value='selected' /> Selected only</label>
      <hr />
      <p>What format?</p>
      <label><input type='radio' name='dl-type' value='project' /> Project</label><br/>
      <label><input type='radio' name='dl-type' value='sprite' /> Sprite</label>
      
    </div>
    <div class='collection-ui collection-dialog-buttons'>
      <small class='status'></small>
      <button class='btn flat'>cancel</button>
      <button class='btn confirm'>download</button>
    </div>
  </div>
</div>

<iframe id='dlframe' style='width:1px;height:1px'></iframe>
    
<script>
  window.OS = window.OS || {}
  
  OS.collectionPermissions = {{collection.permissions}};
  
  var csrf = "{{csrfToken}}";
</script>