<header class='collection-ui'><main class='collection-ui'>
  <h1>{{collection.name}}</h1>
  
  {{#if collection.canSetAbout}}
    <a id='edit' class='btn white-border' style='float:right'>edit collection info</a>
  {{/if}}
  
  {{{by collection.owners}}}
  <br>
  <small>Created {{{timeago collection.when}}}</small>

  <br style='clear:both' />
  <div {{#if collection.canSetAbout}}contenteditable{{/if}} class='bio markdown-about-edit'>
    {{{md collection.about}}}
  </div>
  <small></small>

  <script>var bio_raw = '{{json collection.about}}'; var csrfToken = '{{json csrfToken}}';</script>
</main>
<ul class='collection-ui controls'>
  <li><input type='checkbox' /> the select all checkbox</li>
  <li>Some controls here with fancy icons</li>
  <li>Add</li>
  <li>Remove Selected</li>
  <li>Search</li>
  <li class='display-switch'>Display tiles | list</li>
  <li>Settings</li>
</ul>
</header>

<main class='collection-ui resource-container display-tiles'>
  <ul class='collection-ui header'>
    <li>Name</li>
    <li>By</li>
    <li>Type</li>
  </ul>

  <div class='resources'>
    {{#each resources}}
      {{> resource this}}
    {{/each}}
  </div>
</main>