<header class='center'><main>
  {{#if user}}
    <h1>
      {{Hello}}, <a href='/you'>{{user}}</a>
    </h1>
  {{else}}
    <h1>
      Share your {{Resources}}
    </h1>

    <h4>
      Spice up your <a href='https://scratch.mit.edu/'>Scratch</a> projects with awesome sounds, costumes, backdrops and more &mdash; made by people just like you.
    </h4>

    <br>

    <a href='/join' class='super btn'>
      join now
    </a>
  {{/if}}
</main></header>

{{#unless user}}
  <main class='slim center'>
    <h2>
      What is?
    </h2>

    <p>
      OpenSprites is the place where <a href='https://wiki.scratch.mit.edu/wiki/Scratcher'>Scratchers</a> can upload and download super-cool {{resources}} to use in their projects, with new stuff being added daily by users all over the globe.
    </p>
  </main>

  <hr>
{{/unless}}

<main class='center'>
  <h2>
    Latest {{Resources}}
  </h2>

  <div class='resources'>
    {{#each recentResources}}
      {{> resource this}}
    {{/each}}
  </div>
</main>

{{#unless user}}
  <hr>

  <main class='slim center'>
    <h2>
      Ready?
    </h2>

    <p>
      All you need is your <a href='https://scratch.mit.edu/'>Scratch</a> account and an email address. <br> OpenSprites is free, and always will be.
    </p>

    <a href='/join' class='flat btn'>
      join now
    </a>
  </main>
{{/unless}}