<main>
  <h1>Join</h1>

  {{#if fail}}
    <blockquote>
      {{{fail}}}
    </blockquote>
  {{/if}}

  <p>
    By joining OpenSprites, you accept our <a href='/tos'>Terms of Service</a>.
  </p>

  <form method='post'>
    <div class='split'>
      <div>
        {{#if project}}<h2>Step One</h2>{{/if}}

        <a href='/privacy'>We promise</a> to not give anyone your details. <br>

        <table id='join'>
          <tbody>
            <tr>
              <td>Email</td>
              <td><input name='email' required type='email' value='{{already.email}}' placeholder='john.doe@gmail.com'></td>
            </tr>

            <tr>
              <td>Scratch Username</td>
              <td><input name='username' required type='text' value='{{already.username}}' placeholder='thisandagain'></td>
            </tr>

            <tr>
              <td>Password</td>
              <td><input name='password' pattern='.{3,}' title='3 characters, minimum' required type='password' placeholder='*********'></td>
            </tr>

            <tr>
              <td>Retype Password</td>
              <td><input name='passwordRepeat' required title='Retype the password above' type='password' placeholder='*********'></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        {{#if project}}
          <h2>Step Two</h2>

          We need to check that you're actually the Scratcher you say you are.
          
          <blockquote style='font-size:18px'>
            Go to <a href='https://scratch.mit.edu/projects/{{project}}/' target='_blank'>this Scratch project</a> and comment the below code. <div style='margin-bottom:1em'></div>

            <code id='code'>{{code}}</code>
            <div class='flat btn' data-clipboard-target='#code' id='copycode'>Copy</div>
          </blockquote>

          Once you've done that <b>with the same Scratch account as the one you're joining with</b>, click the button below to get started with OpenSprites!

          <br><br>
        {{/if}}

        <input type='submit' class='btn' value='Join OpenSprites!'>
      </div>
    </div>
  </form>
</main>