<header><main>
  <h1>{{resource.name}}</h1>
  {{{by resource.owners}}}
</main></header>

<main>
  {{#if resource.audio}}
    <audio preload controls src='/{{resources}}/{{resource._id}}/raw' style='margin:auto'></audio>
  {{/if}}

  {{#if resource.image}}
    <img src='/{{resources}}/{{resource._id}}/raw' style='background-repeat:repeat;background-image:url("/assets/img/tile.png");padding:32px;margin:auto'>
  {{/if}}

  <div {{#if resource.youOwn}}contenteditable{{/if}} class='bio'>
    {{{md resource.about}}}
  </div>
  <small></small>

  <script>var bio_raw = '{{json resource.about}}'; var csrfToken = '{{json csrfToken}}';</script>
</main>