<header><main>
  <h1 {{#if youOwn}}contenteditable{{/if}} class='resource-title'>{{resource.name}}</h1>
  <small></small><br/>
  {{{by resource.owners}}}

  {{#if u.admin}}
    <br> <br>

    <a class='flat btn admin-do' data-to='/{{resources}}/{{resource._id}}'>
      {{#if resource.deleted}}
        undelete
      {{else}}
        delete
      {{/if}}
    </a>
  {{else}}
    {{#if resource.youOwn}}
      <br> <br>

      <a class='flat btn admin-do' data-to='/{{resources}}/{{resource._id}}' data-sure>
        delete
      </a>
    {{/if}}
  {{/if}}
</main></header>

{{#if resource.audio}}
  <canvas id="vis-canvas" class="hide" width="500" height="500"></canvas>
{{/if}}

<main style='display: flex;'>
  <div style='margin-right: 20px; text-align: center;'>
    {{#if resource.audio}}
      <div class='audio-thumb-container'>
        <img class='audio-thumb' src='/{{resources}}/{{resource._id}}/cover' style='margin:auto;max-width:100%;max-height:50vh;background-image: url(/{{resources}}/{{resource._id}}/cover)'>
        <img class='loader' src='/assets/img/logo/icon.png'>
      </div>
      <br>
      <audio preload controls src='/{{resources}}/{{resource._id}}/raw' style='margin:auto'></audio>
    {{/if}}

    {{#if resource.image}}
      <img src='/{{resources}}/{{resource._id}}/raw' style='background-repeat:repeat;background-image:url("/assets/img/tile.png");margin:auto;max-width:100%;max-height:50vh;width:240px;'>
    {{/if}}
  </div>

  <div style='flex: 1'>
    <a href='/{{resources}}/{{resource._id}}/download'><button class='btn'>Download</button></a>
    <span style='margin-left: 15px'>Downloaded {{resource.downloads}} time{{s? resource.downloads}}</span>
    <br>
    <div {{#if youOwn}}contenteditable{{/if}} class='bio markdown-about-edit'>
      {{{md resource.about}}}
    </div>
    
    <div style='clear: both'></div>
  
    <small></small>
  
    <script>var bio_raw = '{{json resource.about}}'; var csrfToken = '{{json csrfToken}}';</script>
    
    {{#if youOwn}}
      <a id='edit' class='btn flat' style='float:right'>edit description</a>
    {{/if}}
  </div>

  <script>var csrf = {{{json csrfToken}}};</script>
</main>