<header><main>
  <h1>{{resource.name}}</h1>
  {{{by resource.owners}}}
</main></header>

<main>
  {{#if loading}}
    <small>
      We're still loading this, so sit tight!
    </small>
  {{else}}
    {{#if resource.audio}}
      <audio preload controls src='/{{resources}}/{{resource._id}}/raw' style='margin:auto'></audio>
    {{/if}}

    {{#if resource.image}}
      <img src='/{{resources}}/{{resource._id}}/raw' style='background-repeat:repeat;background-image:url("/assets/img/tile.png");margin:auto;max-width:100%;'>
    {{/if}}
  {{/if}}

  <div {{#if youOwn}}contenteditable{{/if}} class='bio'>
    {{{md resource.about}}}
  </div>
  <small></small>

  <script>var bio_raw = '{{json resource.about}}'; var csrfToken = '{{json csrfToken}}';</script>

  {{#if youOwn}}
    <a id='edit' class='btn flat' style='float:right'>edit description</a>
  {{/if}}
</main>