<header><main class='user'>
  <div id='row'>
    <img src='/users/{{who.username}}/avatar?s=128' width=128 height=128 id='avatar'>

    <h1 id='username'>
      {{who.username}}
    </h1>

    {{#if who.exists}}
      <small>
        Joined {{{timeago who.joined}}} <br>
        {{#unless who.isYou}} Last seen {{{timeago who.online}}} {{/unless}}
      </small>
    {{/if}}
  </div>

  {{#unless who.exists}}
    <h4>
      {{who.username}} isn't on OpenSprites yet.
    </h4>

    <br>

    <a class='super btn' target='_blank' href='https://scratch.mit.edu/users/{{who.username}}/#comment-form'>
      invite them!
    </a>
  {{/unless}}
</main></header>

{{#if who.exists}}
  <main class='user'>
    <h1>About</h1>
    <div {{#if who.isYou}}contenteditable{{/if}} class='bio markdown-about-edit'>
      {{{md who.about}}}
    </div>
    <small></small>

    <script>var bio_raw = '{{json who.about}}'; var csrfToken = '{{json csrfToken}}';</script>

    <h1>
      Shared
      {{#if sharedId}}
        <a href="/collections/{{sharedId}}" class='btn flat'>More...</a>
      {{/if}}
    </h1>

    <div class='resources'>
      {{> collection_items this}}
    </div>
  </main>
{{/if}}

<script>
  window.csrf = {{{json csrfToken}}}
</script>