<header><main class='user'>
  <div id='row'>
    <img src='/users/{{who.username}}/avatar?s=128' width=128 height=128 id='avatar'>

    <h1 id='username'>
      {{who.username}}
    </h1>

    <small>Joined <b>{{{timeago who.joined}}}</b></small>
  </div>

  {{#unless who.exists}}
    <h4>
      {{who.username}} isn't on OpenSprites yet.
    </h4>

    <br>

    <a class='super btn' href='https://scratch.mit.edu/users/{{who.username}}/#comment-form'>
      invite them!
    </a>
  {{/unless}}
</main></header>

{{#if who.exists}}
  <main class='user'>
    <div {{#if who.isYou}}contenteditable{{/if}} class='bio'>
      {{{md who.about}}}
    </div>
    <small></small>

    <script>var bio_raw = '{{json who.about}}'; var csrfToken = '{{json csrfToken}}';</script>

    <h1>Collections</h1>

    <div class='resources'>
      {{#each collections}}
        <div class='resource'>
          <a href='/collections/{{_id}}'>
            <div class='img'></div>

            <h4>{{name}}</h4>
          </a>

          <span>{{{by owners}}}</span>
        </div>
      {{/each}}
    </div>
  </main>
{{/if}}