<!doctype html>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>

<!-- SEO -->
<meta name="author" content="OpenSprites Team">
<meta name="description" content="Spice up your Scratch projects with awesome sounds, costumes, backdrops and more &mdash; made by people just like you.">

{{{head}}}

<title>
  {{#if title}}
    {{title}} — OpenSprites
  {{else}}
    OpenSprites — Share your Sprites
  {{/if}}
</title>

<link rel='stylesheet' href='//brick.a.ssl.fastly.net/Source+Sans+Pro:400,600,700/Inconsolata:500/Lato:400,600'>
<link rel='stylesheet' href='//fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet' href='/assets/css/main.css'>

<link rel='icon' href='/assets/img/logo/icon.png'>

<script>
  window.OS = window.OS || {}
  window.OS.loggedInUser = '{{user}}'
</script>

<body>
  <nav><div class='c'>
    <a href='/' class='logo'>
      <b>open</b>sprites
    </a>

    <div class='nav'>
      <a href='/search'>
        search
      </a>

      {{#if user}}
        <a href='/signout'>
          sign out
        </a>

        <a href='/you'>
          profile
        </a>

        <a href='/share' class='super'>
          share
        </a>
        <a href='/collections/create' class='super'>
          collect
        </a>
      {{else}}
        <a href='/signin'>
          sign in
        </a>

        <a href='/join' class='super'>
          join
        </a>
      {{/if}}
    </div>
  </div></nav>

  {{{body}}}

  <hr>

  <footer>
    <section>
      <h5>About</h5>
      <a href='/about'>About OpenSprites</a> <br>
      <a href='/contact'>Contact Us</a>
    </section>

    <section>
      <h5>Meta</h5>
      <a href='/stats'>Statistics</a>
    </section>

    <section>
      <h5>Legal</h5>
      <a href='/tos'>Terms of Service</a> <br>
      <a href='/dmca'>DMCA Reports &amp; Copyright</a> <br>
      <a href='/privacy'>Privacy Policy</a>
    </section>

    <section class='large'>
      <a href='https://github.com/OpenSprites'>
        <img src='/assets/img/github.png' height='70' id='on-gh'>
        <span>GitHub</span>
      </a>

      <br>

      <a href='https://is.gd/os_bugz'>
        <div height='70' id='gh-issues' class='icon material-icons'>bug_report</div>
        <span>Bug Reports</span>
      </a>
    </section>

    <section class='large'>
      <a href='https://is.gd/os_feat'>
        <div height='70' id='gh-feat' class='icon material-icons'>create_new_folder</div>
        <span>Feature Requests</span>
      </a>

      <br>

      <a href='https://is.gd/os_help'>
        <div height='70' id='gh-help' class='icon material-icons'>help</div>
        <span>Help &amp; Questions</span>
      </a>
    </section>

    <span>
      <small> OpenSprites is not endorsed by or affiliated with the <a href='https://scratch.mit.edu/'>Scratch Team</a>. </small> <br> <br>

      Made with <span class='love'>&hearts;</span> by the <a href='/about#team'> OpenSprites Team </a>.
    </span>
  </footer>
  
  {{#if user}}
  <div class='bottom-ui bottom-main'>
    <div class='bottom-expand'>
      <div class='messages-ui'>
        Messages content goes here
      </div>
      <div class='backpack-ui'>
        <div class='backpack-bar'>
          <button class='backpack-delete' title='Remove the selected items'>
            <i class='material-icons'>delete</i>
            <span class='label'>remove</span>
          </button>
          <button class='backpack-add' title='Add this page to backpack' disabled>
            <i class='material-icons'>move_to_inbox</i>
            <span class='label'>add this page</span>
          </button>
          <div class='divider'></div>
          <div class='backpack-dl dropdown-container'>
            <i class='material-icons'>file_download</i>
            <span class='label'>download</span>
            <i class='material-icons'>arrow_drop_down</i>
            <ul class='dropdown'>
              <li>
                <button class='as-sprite'>as sprite</button>
              </li>
              <li>
                <button class='as-project'>as project</button>
              </li>
            </ul>
          </div>
          <div class='backpack-open dropdown-container'>
            <i class='material-icons'>open_in_browser</i>
            <span class='label'>open in...</span>
            <i class='material-icons'>arrow_drop_down</i>
            <ul class='dropdown'>
              <li><button class='to-scratch'>scratch</button></li>
              <li><button class='to-tosh'>tosh</button></li>
              <li><button class='to-pixie'>pixie</button></li>
            </ul>
          </div>
          <div class='status'></div>
        </div>
        <div class='backpack-content droppable white'>
          <div class='nothing'>&nbsp;Hmm, nothing here. Drag in some items!</div>
        </div>
        <label class='backpack-item template' draggable="true">
          <img class='backpack-thumb' />
          <h4 class='backpack-name' title=''>
            <span class='name'></span>
            <br/>
            <span class='type'></span>
          </h4>
        </label>
      </div>
    </div>
    <div class='bottom-bar'>
      <div class='expanded-btns'>
        <button class='fullscreen-btn' title='Fullscreen'><i class='material-icons'>fullscreen</i></button>
        <button class='close-btn' title='Close'><i class='material-icons'>expand_more</i></button>
      </div>
      <button class='messages-btn'><i class='material-icons'>message<div class='count' data-count='0'></div></i> Messages</button>
      <button class='backpack-btn'><i class='material-icons'>storage</i> Backpack</button>
    </div>
  </div>
  {{/if}}
  
  <!-- leaving dialog -->
  {{>leaving this}}
  
  <!-- start a download without that annoying popup blocked stuff -->
  <iframe id='dlframe' style='width:1px;height:1px'></iframe>
  
  <!-- Main scripts -->
  <script src='/assets/js/main.js'></script>
</body>
