<div class='resource'>
  <input type='checkbox' class='resource-select' />
  <a href='/collections/{{_id}}' class='to'>
    <div class='img' style='background:white'>
      <img src='/collections/{{_id}}/cover' />
    </div>
        
    <h4>{{name}}</h4>
  </a>
  
  <span>{{{by owners}}}</span>
  
  <small>Collection</small>
  
  <span class='when'>{{{timeago when}}}</span>
</div>