<div class='resource' id='{{_id}}' data-id='{{_id}}' data-name='{{name}}'>
  <input type='checkbox' class='resource-select' />
  <a href='/{{resources}}/{{_id}}' class='to' {{#if loading}}title="We're still loading this, so sit tight!"{{/if}}>
    {{#if audio}}
      <div class='audio' style='background-image: url("/{{resources}}/{{_id}}/cover");'>
        <img class='audio-img' src='/{{resources}}/{{_id}}/cover' />
        <div class='play icon'>play_arrow</div>
        <audio preload="none" src='/{{resources}}/{{_id}}/raw'></audio>
      </div>
    {{/if}}

    {{#if image}}
      <div class='img'>
        <img src='/{{resources}}/{{_id}}/raw'>
      </div>
    {{/if}}

    <h4 class='resource-name'>{{name}}</h4>
  </a>
  <span>{{{by owners}}}</span>
  <small>
    {{#if audio}}
      Sound
    {{/if}}

    {{#if image}}
      Costume
    {{/if}}
  </small>
  <span class='when'>{{{timeago when}}}</span>
</div>