<div class='resource' id='{{_id}}' data-id='{{_id}}' data-name='{{name}}' data-when='{{when}} data-type='resource' draggable="true">
  <input type='checkbox' class='resource-select' />
  <a href='/{{resources}}/{{_id}}' class='to'>
    {{#if audio}}
      <div class='audio'>
        <img class='audio-img' src='/{{resources}}/{{_id}}/cover' style='background-image: url("/{{resources}}/{{_id}}/cover");' />
        <div class='play icon'>play_arrow</div>
        <audio preload="none" src='/{{resources}}/{{_id}}/raw'></audio>
      </div>
    {{/if}}

    {{#if image}}
      <div class='img'>
        <img src='/{{resources}}/{{_id}}/raw'>
      </div>
    {{/if}}
    
    {{#if script}}
      <div class='img script'>
        <!-- scratchblocks goes here -->
      </div>
    {{/if}}

    <h4 class='resource-name' title='{{name}}'>{{name}}</h4>
  </a>
  <span title='{{byRaw owners}}'>{{{by owners}}}</span>
  <small>
    {{#if audio}}
      Sound
    {{/if}}

    {{#if image}}
      Costume
    {{/if}}
    
    {{#if script}}
      Script
    {{/if}}
  </small>
  <span class='when'>{{{timeago when}}}</span>
</div>
