<div class='resource' id='{{_id}}'>
  <a href='/{{resources}}/{{_id}}' class='to' {{#if loading}}title="We're still loading this, so sit tight!"{{/if}}>
    {{#if audio}}
      <div class='audio' style='background: url("/{{resources}}/{{_id}}/cover");'>
        {{#unless loading}}
          <div class='play icon'>play_arrow</div>
          <audio preload src='/{{resources}}/{{_id}}/raw'></audio>
        {{/unless}}
      </div>
    {{/if}}

    {{#if image}}
      <div class='img'>
        {{#unless loading}}
          <img src='/{{resources}}/{{_id}}/raw'>
        {{/unless}}
      </div>
    {{/if}}

    <h4>{{name}}</h4>
  </a>
  <span>{{{by owners}}}</span>
  <small>
    {{#if audio}}
      Sound
    {{/if}}

    {{#if image}}
      Costume
    {{/if}}
  </small>
</div>